.nav {
	@extend %centered;
	@include e(item) {
		@extend %align-text-center;
		a {
			@extend %nav-item-link;
			color: palette(black);
		}
		a:hover {
			@extend %nav-item-hover;
		}
	}
	@include mq() {
		@include flexy($just:flex-end);
		@include e(item) {
			margin:em(30px)0;
			a {
				padding-left: em(25px);
				padding-right: em(25px);
			}
		}
	}
}

